<!DOCTYPE html> 
<html> 
<head> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 

<style> 
.one{ 
    background-color: lightgreen; 
    max-width: 25%; /* Setting a maximum width for the first column */
    overflow: auto; /* Making sure content is scrollable if it exceeds the column width */
    max-height: 100vh; /* Limiting the height of the column to the height of the viewport */
} 
.two{ 
    background-color: green; 
    overflow-y: auto; /* Making the second column scrollable vertically */
    max-height: 100vh; /* Limiting the height of the column to the height of the viewport */
} 
.container-fluid{ 
    font-size: 120%; 
} 
</style> 
</head> 
<body> 
<div class="container-fluid"> 
    <div class="row"> 
        <div class="col-2 one"> <!-- First column -->
            <h2>Fixed</h2><br> 
            It is a good platform to learn programming. It is an 
            educational website. Prepare for the Recruitment drive  
            Also, any geeks can help other geeks by writing articles 
            on the GeeksforGeeks, publishing articles follow few style, 
            and try to make you are close to them. 
            Adobe etc with a free online placement preparation 
    </div> 
    <div class="col-10 two"> <!-- Second column -->
        <h2>Scrollable</h2><br> 
        It is a good platform to learn programming. It is an 
        on 
        course. The course focuses on various MCQ's & Coding 
        q
        Also, any geeks can help other geeks by writing articles 
        on the GeeksforGeeks, publishing articles follow few 
        steps that are Articles that need little modification/ 
        improvement from reviewers are published first. To 
        quickly get your articles reviewed, please refer 
        existing articles, their formatting style, coding 
        improvement from reviewers are published first. To 
        educational website. Prepare for the Recruitment drive  
            Also, any geeks can help other geeks by writing articles 
            on the GeeksforGeeks, publishing articles follow few style, 
            and try to make you are close to them. 
            Adobe etc with a free online placement preparation 
            steps that are Articles that need little modification/ 
            improvement from reviewers are published first. To 
            educational website. Prepare for the Recruitment drive  
            Also, any geeks can help other geeks by writing articles 
            on the GeeksforGeeks, publishing articles follow few style, 
            and try to make you are close to them. 
            Adobe etc with a free online placement preparation 
            steps that are Articles that need little modification/ 
            improvement from reviewers are published first. To 
            educational website. Prepare for the Recruitment drive  
            Also, any geeks can help other geeks by writing articles 
            on the GeeksforGeeks, publishing articles follow few style, 
            and try to make you are close to them. 
            Adobe etc with a free online placement preparation 
            steps that are Articles that need little modification/ 
            improvement from reviewers are published first. To 
            educational website. Prepare for the Recruitment drive  
            Also, any geeks can help other geeks by writing articles 
            on the GeeksforGeeks, publishing articles follow few style, 
            and try to make you are close to them. 
            Adobe etc with a free online placement preparation 
            steps that are Articles that need little modification/ 
            improvement from reviewers are published first. To 
            educational website. Prepare for the Recruitment drive  
            Also, any geeks can help other geeks by writing articles 
            on the GeeksforGeeks, publishing articles follow few style, 
            and try to make you are close to them. 
            Adobe etc with a free online placement preparation 
            steps that are Articles that need little modification/ 
            improvement from reviewers are published first. To 
            educational website. Prepare for the Recruitment drive  
            Also, any geeks can help other geeks by writing articles 
            on the GeeksforGeeks, publishing articles follow few style, 
            and try to make you are close to them. 
            Adobe etc with a free online placement preparation 
            steps that are Articles that need little modification/ 
            improvement from reviewers are published first. To 
            educational website. Prepare for the Recruitment drive  
            Also, any geeks can help other geeks by writing articles 
            on the GeeksforGeeks, publishing articles follow few style, 
            and try to make you are close to them. 
            Adobe etc with a free online placement preparation 
            steps that are Articles that need little modification/ 
            improvement from reviewers are published first.
    </div> 
</div> 
</body> 
</html>
