{% extends 'Buniwa/base.html' %}

{% load static %}

{% block title %}Buniwa | Careers {% endblock %}

{% block content %}




        <!-- Career Start -->
<div class="container">
    <div class="row">
        <div class="col-md-1">                
            <h2 class="card-title fw-bold"></h2>
            <p class="text-success"></p>
        </div>

        <div class="col-md-10 container-fluid py-6 d-flex">
            <div class="justify-content-center py-6">
                <p class="fw-bolder fs-1 text-dark ">LET'S GROW TOGETHER</p>
                    <br>
                    <br>
                    <br>
                <p class="font-weight-bold bellefair-font text-dark fs-5">And create products, that make a real impact on the world</p><br><br><br>

                <a href="" class="btn btn-dark">Open Positions</a>

            </div>

            <div class="p-5">
                <br><br><br>
                <img src="static/images/career1.PNG" class="img-fluid rounded" style="height: 400px; width: 500px;" alt="">

            </div>
        </div>

        
        <div class="col-md-1">                
        </div>
    </div>

    <div class="row">
        <div>
            <p class="fs-1 font-weight-bold text-dark text-center">WORK AT BUNIWA, BOOST YOUR SKILLS</p>
        </div>


        
        <div class="d-flex justify-content-center">
            <div class="px-5">
                <div class="card" style="width: 18rem;">
                    <img src="static/images/about-left-image.png" class="card-img-top" alt="Placeholder Image">
                    <div class="card-body">
                        <h5 class="card-title">Raise Your Potential</h5>
                        <p class="card-text bellefair-font text-dark fs-5"> Gain new skills and experience with a personal development plan, internal tech talks, continuing education and support from experienced colleagues</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>

              &nbsp;
            <div class="px-5">
                <div class="card" style="width: 18rem;">
                    <img src="static/images/sideimg.jpg" class="card-img-top" alt="Placeholder Image">
                    <div class="card-body">
                        <h5 class="card-title">Enjoy the spirit of transparency</h5>
                        <p class="card-text bellefair-font text-dark fs-5">We keep all things transparent. Future plans, success stories, results of each project, and operating performance — we do not hide anything from our team.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>

        <!-- Career End -->




{% endblock %}