{% extends 'Buniwa/base.html' %}

{% load static %}

{% block title %}Buniwa | Contact  {% endblock %}

{% block content %}

<div class="container py-6">
    <div class="row">

        <div class="col-md-1"></div>

        <div class="ms-auto col-md-10 justify-content-center">
            <p class="fs-1 text-dark fw-bold py-3 mt-5">CONTACT US</p>
            <p class="bellefair-font text-dark fs-5">Connect with us to explore new opportunities and collaborations.</p>
            <div class="row d-flex">
                <div class="col-md-9">
                    <p class="fs-4 text-dark fw-bold mt-5">Drop Us a line.</p>
                    <div id="contact" class="contact-us section">
                        <div class="container d-flex">
                            <div class="row">
                                
                                <div class="col-lg-5 align-self-center">
                                    <form id="contact" action="" method="get">
                                        <div class="row g-3">
                                        <div class="col-lg-12">
                                            <fieldset>
                                            <input type="name" class="form-control" name="name" id="name" placeholder="Name*" autocomplete="on" required>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                            <input type="surname" class="form-control" name="surname" id="surname" placeholder="Surname*" autocomplete="on" required>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                            <input type="text" class="form-control" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Email*" required="">
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                            <input type="text" class="form-control" name="website" id="website" placeholder="How can we help you?" >
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                            <button type="submit" class="form-control" id="form-submit" class="main-button">Send</button>
                                            </fieldset>
                                        </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-lg-7">
                                    <img src="static/images/contact1.png" class="img-fluid rounded" style="height: 500px; width: 600px;" alt="">
                                </div>
    
                            </div>                                                       
                            </div>
                        </div>                        
                    </div>                    
                </div>
            </div>            
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}