{% extends 'Buniwa/base.html' %}

{% load static %}

{% block title %}Buniwa | FAQs {% endblock %}

{% block content %}

<div class="py-6 mb8" style="background-color:rgb(209, 242, 247)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-8 text-center text-lg-left">
                <div class="active">
                    <h1 tabindex="0" class="page-title mb-2">Frequently Asked Questions</h1>
                    <p tabindex="0" class="m-0 bellefair-font text-dark fs-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita doloremque
                         commodi ratione odio ducimus. Doloremque ad eos a esse magni necessitatibus amet.
                          Commodi ad similique nihil sunt, sit tempora vero consequuntur. Officia laborum ea animi ducimus et?
                           Neque corrupti ratione laudantium exercitationem minima eum ex incidunt? Quas unde minima asperiores!
                    </p>
                </div>
            </div>

            <div class="col-lg-4 d-none d-lg-block text-center text-lg-center py-4">
                <img src="static/images/banner-right-image.png" alt="" style="max-width: 230px;">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto mb-8">
            <h3 tabindex="0" class="mt-4 mb-0" style="color: green;">How to Place An order at Buniwa Services</h2>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item py-4">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      How will Buniwa Help me accomplish my Tasks?
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body bellefair-font text-dark fs-5">We are a dynamic digital marketing and content creation agency dedicated to driving your online success. With a passion for innovation and a commitment to excellence, we specialize in two core pillars of the digital realm: Digital Marketing and Digital Content Creation.
                        When it comes to Digital Marketing, We're like the cool uncle who knows all the right SEO best practices, making your brand as visible as a neon sign in the desert. We use SEO keywords like a comedian uses punchlines, ensuring your website gets the attention it deserves.
                        We don't just create and market; we strategize, analyze, and adapt. Making your online presence as famous as a viral cat video. We're not here to build websites; we're here to create digital legends. Join us in this digital comedy club, and together, we'll turn your brand into the internet's favorite meme. Get ready for a wild and wacky digital ride!</div>
                  </div>
                </div>
                <div class="accordion-item py-3">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      How is Buniwa efficient?
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body bellefair-font text-dark fs-5">With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.</div>
                  </div>
                </div>

                <div class="accordion-item py-3">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        How is Buniwa efficient?
                      </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body bellefair-font text-dark fs-5">With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.</div>
                    </div>
                </div>

                  <div class="accordion-item py-3">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        How is Buniwa efficient?
                      </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body bellefair-font text-dark fs-5">With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.</div>
                    </div>
                </div>


              <!-- ======================Accordion 2 -->

              <h2 tabindex="0" class="mt-4 mb-0" style="color: green;">Working with Buniwa Services</h2>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item py-3">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        How is Buniwa efficient?
                      </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body bellefair-font text-dark fs-5">With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.</div>
                    </div>
                </div>

                <div class="accordion-item py-3">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        How is Buniwa efficient?
                      </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body bellefair-font text-dark fs-5">With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.</div>
                    </div>
                </div>

                <div class="accordion-item py-3">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                        How is Buniwa efficient?
                      </button>
                    </h2>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body bellefair-font text-dark fs-5">With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.</div>
                    </div>
                </div>

                <div class="accordion-item py-3">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                        How is Buniwa efficient?
                      </button>
                    </h2>
                    <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body bellefair-font text-dark fs-5">With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.</div>
                    </div>
                </div>

                <div class="accordion-item py-3">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                        How is Buniwa efficient?
                      </button>
                    </h2>
                    <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body bellefair-font text-dark fs-5">With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.</div>
                    </div>
                </div>

                <div class="accordion-item py-3">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTe">
                        How is Buniwa efficient?
                      </button>
                    </h2>
                    <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body bellefair-font text-dark fs-5">With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.</div>
                    </div>
                </div>
                
            </div>
            <!-- ======End======= of accordion -->

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="card" style="background-color: rgb(198, 210, 232);"> 
            <div class="row g-0">
                <div class="col-md-8">
                    <p class="card-title text-dark fs-4 ms-4 mt-3">Did that help you?</p>
                    <p class="card-text text-dark ms-4 bellefair-font text-dark fs-5">We are a dynamic digital marketing and  content creation agency dedicated to driving your 
                        online success. With a passion for innovation and a commitment to excellence, we specialize in two core pillars
                        of the digital realm: Digital Marketing and Digital Content Creation. <br><br> When it comes to Digital Marketing, 
                        We're like the cool uncle who knows all the right SEO best practices, making your brand as visible as a neon sign
                        in the desert. We use SEO keywords like a comedian uses punchlines, ensuring your website gets the attention it deserves. 
                        We don't just create and market; we strategize, analyze, and adapt. Making your online presence as famous as a viral cat video. 
                        We're not here to build websites; we're here to create digital legends. <br><br> Join us in this digital comedy club, and together, we'll 
                        turn your brand into the internet's favorite meme. Get ready for a wild and wacky digital ride!
                    </p>
                </div>
                <div class="col-md-4 col-lg-4" >
                    <img src="static/images/b10.jpg" alt="" class="rounded" style="width: 23rem;">
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>

<span class="position-fixed p-2 text-white text-center bellefair-font fs-5" style="bottom: 0; left:0; right:0; background-color: darkgreen;">
    Your Tasks management includes more and more, Like free consultations!
</span>
{% endblock %}