
{% extends 'Buniwa/base.html' %}

{% load static %}

{% block title %}Buniwa | Home Page {% endblock %}

{% block content %}
    
<!-- ========HERO SECTION ======= -->
<div class="container-fluid bg-light py-6 my-6 mt-0 vh-100 hero-1" >
    <div class="container pt-2">
        <div class="row g-5 align-items-center pt-2">
            <div class="col-lg-5 col-md-12">
                <h3 class="display-6 mb-4 animated bounceInDown">Achieve <span class="text-primary">Online</span> dominance</h3>
                <a href="dash" class="btn border-0 rounded-pill py-3 px-4 px-md-5 me-4 animated bounceInLeft" style="box-shadow:5px 5px 0 #FFD80D; background: darkgreen">Get Started</a>
                <a href="about" class="btn border-0 rounded-pill py-3 px-4 px-md-5 animated bounceInLeft" style="box-shadow:5px 5px 0 #FFD80D; background: darkgreen">Know More</a><br><br>
                <p class="bellefair-regular text-dark fs-5 fw-4" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Trusted by Thousands of users worldwide!</p>
            </div>
            <div class="col-lg-7 col-md-12">
                <img src="static/images/bac.jpg" class="img-fluid rounded animated zoomIn" alt="buniwa">
            </div>
        </div>
    </div>
</div>

<!-- ======== END HERO SECTION ======= -->


<!-- About Start -->
<div class="container-fluid py-6" id="about">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
                <img src="static/images/backg.jpg" class="img-fluid rounded" alt="">
            </div>
            <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
                <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">About Us</small>
                <h1 class="display-3 mb-4">The Digital Dynamo!</h1>
                <p class="custom text-dark" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">We are Buniwa Creations!</p><br>
                <p class="mb-4 text-dark fs-5" style="font-family: 'Bellefair', serif; font-weight: 400" >We believe that by helping these enterprises devise solutions that are uniquely suited to their circumstances and budget, we can empower them to overcome obstacles, achieve their objectives, and ultimately, succeed in their endeavors.
                    Buniwa Creations or other "To Be Devised" is not just a name; it's a promise to be the catalyst for positive change and growth for startups and small businesses striving to make their mark in the world.</p>                        
                <a href="about" class="btn py-3 px-5 rounded-pill" style="box-shadow:5px 5px 0 #FFD80D; background: darkgreen">About Us<i class="fas fa-arrow-right ps-2"></i></a>
            </div><!-- style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif" -->
            <!-- .bellefair-regular {
                font-family: "Bellefair", serif;
                font-weight: 400;
                font-style: normal;
              } -->
        </div>
    </div>
</div>
<!-- About End -->


        

<!-- Service Start -->
<div class="container-fluid service py-3" id="services">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Our Services</small>
            <h1 class="display-5 mb-5">What We Offer</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.1s" >
                <div class="bg-light rounded service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-icon text-center">
                            <i class="fas fa-cog fa-7x text-secondary mb-4"></i>
                            <h4 class="mb-3 h3">SEO Optimization</h4>
                            <p class="mb-4 fs-5 text-dark" style="font-family: 'Bellefair', serif; font-weight: 400">Keyword research and on-page and off-page optimization, ensuring your website ascends search engine rankings.</p>
                            <a href="services" class="btn btn-primary px-4 py-2 rounded-pill">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.3s">
                <div class="bg-light rounded service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-icon text-center">
                            <i class="fas fa-envelope fa-7x text-primary mb-4"></i>

                            <h4 class="mb-3 h3">Email Marketing</h4>
                            <p class="mb-4 text-dark fs-5" style="font-family: 'Bellefair', serif; font-weight: 400">With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.</p>
                            <a href="services" class="btn btn-primary px-4 py-2 rounded-pill">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.5s">
                <div class="bg-light rounded service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-icon text-center">
                            <i class="fas fa-desktop fa-7x text-primary mb-4"></i>
                            <h4 class="mb-3 h3">Web Development</h4>
                            <p class="mb-4 text-dark fs-5" style="font-family: 'Bellefair', serif; font-weight: 400">We design and build SEO-friendly websites improving conversion rates and search visibility.</p>
                            <a href="services" class="btn btn-primary px-4 py-2 rounded-pill">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.7s">
                <div class="bg-light rounded service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-icon text-center">
                            <i class="fas fa-video fa-7x text-primary mb-4"></i>
                            <h4 class="mb-3 h3">Content Creation</h4>
                            <p class="mb-4 text-dark fs-5" style="font-family: 'Bellefair', serif; font-weight: 400">SEO-optimized articles, videos, and visuals that tell your brand's story &rank prominently in search results.</p>
                            <a href="services" class="btn btn-primary px-4 py-2 rounded-pill">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Service End -->


<!-- works Start -->
<div class="container-fluid event py-6" id="portfolio">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Latest Events</small>
            <h1 class="display-5 mb-5">Our Professional Work Gallery</h1>
        </div>
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center mb-5 wow bounceInUp" data-wow-delay="0.1s">
                <li class="nav-item p-2">
                    <a class="d-flex mx-2 py-2 border border-primary bg-light rounded-pill active" data-bs-toggle="pill" href="#tab-1">
                        <span class="text-dark" style="width: 150px;">All Works</span>
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="d-flex py-2 mx-2 border border-primary bg-light rounded-pill" data-bs-toggle="pill" href="#tab-2">
                        <span class="text-dark" style="width: 150px;">Latest Works</span>
                    </a>
                </li>
                <!-- <li class="nav-item p-2">
                    <a class="d-flex mx-2 py-2 border border-primary bg-light rounded-pill" data-bs-toggle="pill" href="#tab-3">
                        <span class="text-dark" style="width: 150px;">Corporate</span>
                    </a>
                </li> -->
                
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="static/images/allure.png" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Web Development</h4>
                                            <a target="_blank" href="https://allurelounge.co.ke/" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.3s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="static/images/gseries2.png" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Web Development</h4>
                                            <a target="_blank"  href="https://gseriesmediakenya.com/" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.5s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="static/images/b7.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Social Media Marketing</h4>
                                            <a target="_blank"  href="https://www.instagram.com/the_allure_lounge_official/?hl=en" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.5s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded" src="static/images/content.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Content Creation</h4>
                                            <a target="_blank"  href="https://www.swahilimusicnotes.com/wimbo/kiu-ya-nafsi/36832" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                                                                                                                                                                                
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="static/images/allure.png" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Web Development</h4>
                                            <a target="_blank" href="https://www.allurelounge.co.ke/" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="static/images/gseries.png" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Web Development</h4>
                                            <a target="_blank"  href="https://gseriesmediakenya.com/" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="static/images/portfolio-04.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Social Media Management</h4>
                                            <a target="_blank"  href="https://www.instagram.com/the_allure_lounge_official/?hl=en" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="static/images/portfolio-04.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Content Creation</h4>
                                            <a target="_blank"  href="https://www.swahilimusicnotes.com/wimbo/kiu-ya-nafsi/36832" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- works End -->  
        
        
<!-- Social Platforms -->
<div class="container-fluid event py-6" id="portfolio">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Latest Events</small>
            <h1 class="display-5 mb-5">The Social Gallery</h1>
        </div>
        <div class="row d-flex">
            <div class="col">
                <p class="text-dark fs-4">Linkedin</p>
                <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7175444806444171264" height="700" width="350" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
            </div>
            <div class="col">
                <p class="text-dark fs-4">Facebook</p>
                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fweb.facebook.com%2FBuniwaCreations%2Fposts%2Fpfbid02odobQgWgsYkW7AaoBXwK8mfqBtv19M1nWdJzznL3Ce2UvtSEomFpfGRLL1tCCAF9l&show_text=true&width=500" width="350" height="687" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>                        </div>
            <div class="col">
                <p class="text-dark fs-5">X</p>
                <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7175444806444171264" height="700" width="350" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- Social End -->

<!-- Home Contact Section -->
<div id="contact" class="contact-us section">
    <div class="container">
        <div class="row">
        <div class="col-lg-7">
            <div class="section-heading">
            <h2 class="mb-3">Feel free to <em>Contact</em> us via the <span> form</span></h2>
            <div id="map">
                <img src="static/images/backg.jpg" class="img-fluid rounded" alt="">
            </div>
            
            </div>
        </div>
        <div class="col-lg-5 align-self-center">
            <form id="contact" action="" method="POST">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-lg-12">
                        <fieldset>
                            <input type="name" class="form-control" name="full-name" id="name" placeholder="Name" autocomplete="on" required>
                        </fieldset>
                    </div>

                    <div class="col-lg-12">
                        <fieldset>
                            <input type="text" class="form-control" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                        </fieldset>
                    </div>
                    <div class="col-lg-12">
                        <fieldset>
                            <input type="subject" class="form-control" name="subject" id="subject" placeholder="The Subject" autocomplete="on" required>
                        </fieldset>
                    </div>
                    <div class="col-lg-12">
                    <fieldset>
                        <!-- <input type="text" class="form-control" name="message" id="message" placeholder="Your Message" required=""> -->
                        <textarea class="form-control" name="message" rows="5" placeholder="Message us here." required></textarea>
                    </fieldset>
                    </div>
                    
                    <div class="col-lg-12">
                    <fieldset>
                        <button type="submit" class="form-control" id="form-submit" class="main-button">Submit Request</button>
                    </fieldset>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    
</div>
        

{% endblock %}