{% extends 'Buniwa/base.html' %}

{% load static %}

{% block title %}Buniwa . Services {% endblock %}

{% block content %}


 <!-- Service Start -->
 <br><br><br><br>
 <div class="container-fluid py-6 d-flex" style="background-image: url('static/images/bgs8.jpg'); background-size: cover;">
    <div class="card text-light fw-bold py-5 ms-5" style="width: 400px; height: 200px; background-color: darkgreen; box-shadow: 4px 4px 0 yellow; ">
        <div class="card-title display-5 mt-3 text-center">Our Services</div>
        <div class="card-body">
            <p class="text-dark text-center py-1">Our Popular Sevices</p>
        </div>
    </div>

    <div class="card mx-auto me-4 mt-5 py-5" style="width: 28rem; background-color: transparent;">
        <img src="static/images/about-left-image.png" alt="...">
    </div>
    
    <br><br><br>
 </div>

 <div class="container-fluid service py-6" id="services" style="background-color: rgb(250, 233, 235); box-shadow: 5px 5px 0 yellow;">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <small class="d-inline-block fw-bold text-dark text-uppercase border border-primary rounded-pill px-4 py-1 mb-3" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">Popular Services</small>
            <h2 class="display-5 mb-5">Outsmart the competition with Digital Marketing Agency</h2>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.1s" >
                <div class="bg-light rounded service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-icon text-center">
                            <i class="fas fa-cog fa-7x text-info mb-4"></i>
                            <h4 class="mb-3">SEO Optimization</h4>
                            <p class="mb-4 bellefair-font text-dark fs-5">Keyword research and on-page and off-page optimization, ensuring your website ascends search engine rankings.</p>
                            <a href="#seo" class="btn btn-primary px-4 py-2 rounded-pill" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">More...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.3s">
                <div class="bg-light rounded service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-icon text-center">
                            <i class="fas fa-envelope fa-7x text-warning mb-4"></i>

                            <h4 class="mb-3">Email Marketing</h4>
                            <p class="mb-4 bellefair-font text-dark fs-5">With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.</p>
                            <a href="#email" class="btn btn-primary px-4 py-2 rounded-pill" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">More...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.5s">
                <div class="bg-light rounded service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-icon text-center">
                            <i class="fas fa-desktop fa-7x text-primary mb-4"></i>
                            <h4 class="mb-3">Web Development</h4>
                            <p class="mb-4 bellefair-font text-dark fs-5" >We design and build SEO-friendly websites improving conversion rates and search visibility.</p>
                            <a href="#web" class="btn btn-primary px-4 py-2 rounded-pill" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">More...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.7s">
                <div class="bg-light rounded service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-icon text-center">
                            <i class="fas fa-video fa-7x text-success mb-4"></i>
                            <h4 class="mb-3">Content Creation</h4>
                            <p class="mb-4 bellefair-font text-dark fs-5">SEO-optimized articles, videos, and visuals that tell your brand's story &rank prominently in search results.</p>
                            <a href="#content" class="btn btn-primary px-4 py-2 rounded-pill" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">More...</a>
                        </div>
                    </div>
                </div>
            </div>
           
            
        </div>
    </div>


  <div class="container">
    <br><br>
    <div class="row g-4">
        <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.1s" >
            <div class="bg-light rounded service-item">
                <div class="service-content d-flex align-items-center justify-content-center p-4">
                    <div class="service-content-icon text-center">
                        <i class="fas fa-cog fa-7x text-info mb-4"></i>
                        <h4 class="mb-3">Video Production</h4>
                        <p class="mb-4 bellefair-font text-dark fs-5">Our video production team excels at creating SEO-rich videos that captivate audiences, boost engagement, and effectively convey your brand's message, leading to increased online visibility and conversions.</p>
                        <a href="#" class="btn btn-primary px-4 py-2 rounded-pill" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">More...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.3s">
            <div class="bg-light rounded service-item">
                <div class="service-content d-flex align-items-center justify-content-center p-4">
                    <div class="service-content-icon text-center">
                        <i class="fas fa-envelope fa-7x text-warning mb-4"></i>

                        <h4 class="mb-3">Social Media Marketing</h4>
                        <p class="mb-4 bellefair-font text-dark fs-5">Utilize our SEO-focused social media strategies to maximize your brand's reach and engagement. We create shareable, SEO-enhanced content, analyze performance data, and optimize campaigns.</p>
                        <a href="#social" class="btn btn-primary px-4 py-2 rounded-pill" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">More...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.5s">
            <div class="bg-light rounded service-item">
                <div class="service-content d-flex align-items-center justify-content-center p-4">
                    <div class="service-content-icon text-center">
                        <i class="fas fa-desktop fa-7x text-primary mb-4"></i>
                        <h4 class="mb-3">Paid Advertising</h4>
                        <p class="mb-4 bellefair-font text-dark fs-5">We optimize ad campaigns on Google Ads and social media, ensuring cost-effective targeting. We track metrics, and deliver measurable results to boost your online visibility and reach your target audience effectively.</p>
                        <a href="#" class="btn btn-primary px-4 py-2 rounded-pill" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">More...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.7s">
            <div class="bg-light rounded service-item">
                <div class="service-content d-flex align-items-center justify-content-center p-4">
                    <div class="service-content-icon text-center">
                        <i class="fas fa-video fa-7x text-success mb-4"></i>
                        <h4 class="mb-3">Geo-Marketing</h4>
                        <p class="mb-4 bellefair-font text-dark fs-5">Using Geographic Information Systems (GIS) and local SEO strategies, to connect your brand with nearby customers, creating hyper-localized campaigns that boost foot traffic and enhance online engagement effectively.</p>
                        <a href="#" class="btn px-4 py-2 rounded-pill" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">More...</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>
<!-- ====================================== -->

<div class="container-fluid py-6" id="seo">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
                <h3 class="display-3 mb-4">SEO Optimization</h3>
                <p class="custom" style="font-family: var(--bs-body-font-family)">We are Buniwa Creations!</p><br>
                <p class="mb-4 bellefair-font text-dark fs-5" style="border: 1px solid #868585; padding: 15px; border-radius: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae vel consectetur labore libero molestias animi at sequi molestiae aperiam obcaecati amet blanditiis veritatis odio aliquid commodi suscipit quos incidunt tempore debitis eaque atque sed, neque non ratione! Quis, ex labore.
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum explicabo harum delectus mollitia dolores tempora temporibus non hic ullam, a dicta blanditiis neque nam labore assumenda iusto veritatis molestiae nobis atque repellendus! Aut vero neque necessitatibus blanditiis qui maxime ex a ipsum consectetur eum ea cum, assumenda numquam tenetur exercitationem.</p>                        
            </div>
            <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
                <img src="static/images/b1.jpg" class="img-fluid rounded" style="height: 400px; width: 500px;" alt="">
            </div>
        </div>
        <a href="#seo" class="btn btn-outline-success ms-auto">I need This</a>
    </div>
</div>
<!-- =========================== -->
<div class="container-fluid py-6" id="web">
  <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
          <img src="static/images/banner-right-image.png" class="img-fluid rounded" style="height: 400px; width: 500px;" alt="">
      </div>
          <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
              <h3 class="display-3 mb-4">Web Development</h3>
              <p class="custom" style="font-family: var(--bs-body-font-family)">We are Buniwa Creations!</p><br>
              <p class="mb-4 bellefair-font text-dark fs-5" style="border: 1px solid #868585; padding: 15px; border-radius: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae vel consectetur labore libero molestias animi at sequi molestiae aperiam obcaecati amet blanditiis veritatis odio aliquid commodi suscipit quos incidunt tempore debitis eaque atque sed, neque non ratione! Quis, ex labore.
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.temporibus non hic ullam, a dicta blanditiis neque nam labore assumenda iusto veritatis molestiae nobis atque repellendus! Aut vero neque necessitatibus blanditiis qui maxime ex a ipsum consectetur eum ea cum, assumenda numquam tenetur exercitationem.</p>                        
          </div>
      </div>
      <a href="#web" class="btn btn-outline-success ms-auto">I need This</a>
  </div>
</div>
<!-- ====================================== -->

<div class="container-fluid py-6" id="social">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
                <h3 class="display-3 mb-4">Social Media Marketing</h3>
                <p class="custom" style="font-family: var(--bs-body-font-family)">We are Buniwa Creations!</p><br>
                <p class="mb-4 bellefair-font text-dark fs-5" style="border: 1px solid #868585; padding: 15px; border-radius: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae vel consectetur labore libero molestias animi at sequi molestiae aperiam obcaecati amet blanditiis veritatis odio aliquid commodi suscipit quos incidunt tempore debitis eaque atque sed, neque non ratione! Quis, ex labore.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum explicabo harum delectus mollitia dolores tempora temporibus non hic ullam, a dicta blanditiis neque nam labore assumenda iusto veritatis molestiae nobis atque repellendus! Aut vero neque necessitatibus blanditiis qui maxime ex a ipsum consectetur eum ea cum, assumenda numquam tenetur exercitationem.</p>                        
            </div>
            <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
                <img src="static/images/car1.jpg" class="img-fluid rounded" style="height: 400px; width: 500px;" alt="">
            </div>
        </div>
        <a href="#social" class="btn btn-outline-success">I need This</a>
    </div>
  </div>
  <!-- =========================== -->


  <!-- why we are best -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <button class="btn mb-5" style="background-color: darkgreen; box-shadow: 4px 4px 0 yellow;">Buniwa Creations</button>
        <h4 class="fw-bold ">Why we are the best.</h4>
        <div class="card mt-4" style="width: 300px; height: 180px; background-color: darkgreen; box-shadow: 4px 4px 0 yellow;">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text fw-bold display-6 h3 text-dark">Tailored Solutions for every Client</p>
          </div>
        </div>
      </div>
      
      <!-- Second Column -->
      <div class="col-md-4">
        <!-- First Card -->
        <div class="card mb-3" style="width: 300px; height: 180px; background-color: darkgreen; box-shadow: 4px 4px 0 yellow;">
          <div class="card-body">
            <p class="card-text fw-bold display-6 h3 text-dark">Data-Driven Decision-Making</p>
          </div>
        </div>
        
        <!-- Second Card -->
        <div class="card" style="width: 300px; height: 180px; background-color: darkgreen; box-shadow: 4px 4px 0 yellow; ">
          <div class="card-body">
            <p class="card-text fw-bold fs-2 h3 text-dark">Holistic Approach to Digital Success</p>
          </div>
        </div>
      </div>
      
      <!-- Third Column -->
      <div class="col-md-4">
        <!-- Image -->
        <img src="static/images/service1.png" class="img-fluid" alt="Image">
      </div>
    </div>
  </div>
  
  <!-- end -->
<!-- Service End -->



{% endblock %}
