{% extends 'Buniwa/base.html' %}

{% load static %}

{% block title %}Buniwa | Our Team {% endblock %}

{% block content %}




        <!-- Team Start -->
<div class="container">
    <div class="row">
        <div class="col-md-1">                
            <h2 class="card-title fw-bold"></h2>
            <p class="text-success"></p>
        </div>

        <div class="col-md-10">
                <!-- ==========================MEMBER========================== -->
                <div class="container-fluid py-6" id="about">
                    <div class="container">
                        <div class="row g-5 align-items-center">
                            <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
                                <img src="static/images/team2.jfif" class="img-fluid rounded" style="height: 400px; width: 500px;" alt="">
                            </div>
                            <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
                                <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Mukaathe G.</small>
                                <h1 class="display-3 mb-4">team head's</h1>
                                <p class="custom" style="font-family: var(--bs-body-font-family)">We are Buniwa Creations!</p><br>
                                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas exercitationem minima similique optio, voluptatibus, dolorum numquam molestiae illo ipsum, aperiam tempora autem dolore ut et corrupti deleniti voluptatum earum possimus maiores quaerat! Quas, enim illo rem necessitatibus officiis deleniti magni ut asperiores Temporibus hitecto!</p>                        
                                <a href="#" class="btn btn-success py-3 px-5 rounded-pill">Social Media<i class="fas fa-arrow-right ps-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ========================== END MEMBER========================== -->

                <!-- ==========================MEMBER========================== -->
                <div class="container-fluid py-6" id="about">
                    <div class="container">
                        <div class="row g-5 align-items-center">
                            <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
                                <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">About Us</small>
                                <h1 class="display-3 mb-4">The Digital Dynamo!</h1>
                                <p class="custom" style="font-family: var(--bs-body-font-family)">We are Buniwa Creations!</p><br>
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae vel consectetur labore libero molestias animi at sequi molestiae aperiam obcaecati amet blanditiis veritatis odio aliquid commodi suscipit quos incidunt tempore debitis eaque atque sed, neque non ratione! Quis, ex labore.
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum explicabo harum delectus mollitia dolores tempora temporibus non hic ullam, a dicta blanditiis neque nam labore assumenda iusto veritatis molestiae nobis atque repellendus! Aut vero neque necessitatibus blanditiis qui maxime ex a ipsum consectetur eum ea cum, assumenda numquam tenetur exercitationem.</p>                        
                                <a href="#" class="btn btn-success py-3 px-5 rounded-pill">Social Media<i class="fas fa-arrow-right ps-2"></i></a>
                            </div>
                            <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
                                <img src="static/images/team3.jfif" class="img-fluid rounded" style="height: 400px; width: 500px;" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ========================== END MEMBER========================== -->
                
                <!-- ==========================MEMBER========================== -->
                <div class="container-fluid py-6" id="about">
                    <div class="container">
                        <div class="row g-5 align-items-center">
                            <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
                                <img src="static/images/team4.jfif" class="img-fluid rounded" style="height: 400px; width: 500px;" alt="">

                                <div class="team-icon d-flex justify-content-center m-4">
                                    <a class="share btn btn-primary btn-md-square rounded-circle mr-2" href=""><i class="fas fa-share-alt"></i></a>
                                    <a class="share-link btn btn-primary btn-md-square rounded-circle mr-2" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="share-link btn btn-primary btn-md-square rounded-circle mr-2" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="share-link btn btn-primary btn-md-square rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
                                <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">About Us</small>
                                <h1 class="display-3 mb-4">The Digital Dynamo!</h1>
                                <p class="custom" style="font-family: var(--bs-body-font-family)">We are Buniwa Creations!</p><br>
                                <p class="mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste omnis nesciunt repellendus aliquam nemo at culpa, quas, temporibus, dolorem aperiam assumenda. A nobis fugiat, consequuntur dolorum vel nulla incidunt labore earum cumque doloremque cum voluptas reiciendis ad quas quisquam fuga praesentium quos. Minus harum blanditiis ab cum quas consectetur dolor.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ad commodi, adipisci ipsum dolorem hic atque provident! Nostrum at in ab dignissimos reiciendis iste dolorum veniam ducimus eius porro sit quibusdam doloribus, exercitationem hic voluptatum modi laboriosam velit commodi laudantium perspiciatis qui quod quasi? Nesciunt corrupti accusantium perferendis deserunt porro.</p>
                      
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ========================== END MEMBER========================== -->

                     <!-- ========================== END MEMBER========================== -->
        </div>

        
        <div class="col-md-1">                
            <h2 class="card-title fw-bold">Need wel-skilled web development team?</h2>
            <p class="text-success">Experience the transformative power of precision with the exceptional output delivered by our esteemed development company. Our commitment to excellence permeates every aspect of our work, ensuring that each project is meticulously crafted to meet and exceed expectations.</p>
        </div>
    </div>
</div>

        <!-- Team End -->




{% endblock %}